html,body {
    background-image: url('../imgs/fond.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    text-decoration: none;

}
nav ul{
    background-color: rgba(255, 255, 255, 0.5);
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
nav li{
    margin-right: 10px;

}

nav li a{
    float: right;
    width: 100px;
    background-color:#ffffff;
    color:#1B1464;
    text-decoration:none;
    text-align:center;
    padding:10px;
    border:1px solid;
    border-radius: 15px 15px 15px 15px;
}
.logo:nth-child(1)
{
    flex: 3;
}

.menuTransitionBackground a{
    text-decoration: none;
    padding:10px;
    color: #444664;
    text-decoration:none;
    background:#FFFFFF;
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
}
.menuTransitionBackground a:hover{
    color:#FFFFFF;
    background: #444664;
}