html,body {
    background-image: url('../imgs/fond.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;

}
nav ul{
    background-color: rgba(255, 255, 255, 0.6);
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
header {
    position: fixed;
    right: 0;
    top: 5%;
    width: 100%;
}

main {
    margin-top: 12%;
}

nav li{
    margin-right: 10px;

}

nav li a{
    float: right;
    width: 100px;
    background-color:#ffffff;
    color:#1B1464;
    text-decoration:none;
    text-align:center;
    padding:10px;
    border:1px solid;
    border-radius: 15px 15px 15px 15px;
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;

}

a:hover {
    text-decoration: none;
}

.logo:nth-child(1)
{
    flex: 3;
}

.menu_principal1 { position: absolute; top: 0px; left:0; height: 25px; width: 100%; }
.menu_principal2 { position: fixed; top: 0; left:0; height: 25px; width: 100%; }

.menuTransitionBackground nav ul li a{

    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
}
.menuTransitionBackground a:hover{
    text-decoration: none;
    color:#FFFFFF;
    background: #444664;
}

aside {
    margin-right: 20px;
    float: right;
    width: 20%;
    background-color: rgba(205, 92, 92, 0.8);

}

.centre {
      margin-left: 20px;
      margin-bottom: 10px;
      float: left;
      width: 75%;
      background-color: rgba(255, 255, 255, 0.9);

  }

.centre_real {
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
    width: 97%;
    background-color: rgba(255, 255, 255, 0.9);

}

.titre {
    color: #444664;
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%;
    background-color:white;
    font-family: Montserrat;


}
.titre2 {
    color: white;
    font-size: 16px;
    margin-left: 2%;
    margin-top: 10px;
    font-family: Montserrat;

}

.titre3 {
    color: #444664;
    font-size: 20px;
    font-family: Montserrat;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 0 0 10px;

}

.paragraphe {
    color= gray;
    font-size: 14px;
    margin-left: 2%;
    text-align: justify;
    margin-right: 2%;
    font-family: Montserrat;
    padding: 0 0 0 10px;

}

footer {
    clear:both;
}

.icone {
    width: 60px;
    height: auto;
}
.comp {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-content: baseline;

}


/* ------------- ------------- */
/* Zoom image avec fenêtre     */
/* modale « responsive ».      */
/* Trucsweb.com : Django Blais */
/* ------------- ------------- */
.img-sensible { max-width:250px; }
.twAudessus {
    /* Le trame de fond */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.7);
    /*-webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; */
}
.twAudessus a {
    /* Le truc pour centrer l’image */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.twAudessus img {
    /* Le contour de l’image */
    padding: 10px;
    /* -webkit-border-radius: 10px;
     -moz-border-radius: 10px;*/
    background: #ffffff;
}
.twAudessus:target {
    /* Affichage de l’image */
    display: table;
    -webkit-transition: width 2s;
    transition: width 2s;
}
@media screen and (max-width: 1600px){.twAudessus img { max-width:440px; }}
@media screen and (max-width: 1024px){.twAudessus img { max-width:700px; }}
@media screen and (max-width: 800px){.twAudessus img { max-width:500px; }}
@media screen and (max-width: 600px){.twAudessus img { max-width:400px; }}
@media screen and (max-width: 500px){.twAudessus img { max-width:250px; }}

.twAudessus2 {
    /* Le trame de fond */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.7);
    /*-webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; */
}
.twAudessus2 a {
    /* Le truc pour centrer l’image */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.twAudessus2 img {
    /* Le contour de l’image */
    padding: 10px;
    /* -webkit-border-radius: 10px;
     -moz-border-radius: 10px;*/
    background: #ffffff;
}

.twAudessus2:target {
    /* Affichage de l’image */
    display: table;
    -webkit-transition: width 2s;
    transition: width 2s;
}
@media screen and (max-width: 1600px){.twAudessus2 img { max-width:800px; }}
@media screen and (max-width: 1024px){.twAudessus2 img { max-width:700px; }}
@media screen and (max-width: 800px){.twAudessus2 img { max-width:500px; }}
@media screen and (max-width: 600px){.twAudessus2 img { max-width:400px; }}
@media screen and (max-width: 500px){.twAudessus2 img { max-width:250px; }}
.photo_gauche {
    float:left;

}
.texte_droite {

    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    vertical-align:top;
}

article#alignement_photo {
    margin-left: 20px;
    margin-bottom: 10px;
    float: left;
    width: 75%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    color= gray;
    font-size: 14px;
    text-align: justify;
    font-family: Montserrat;
    padding: 0 0 0 10px;

}

article#alignement_photo div {
    padding: 0 0 0 10px;

}

article#alignement_photo div:nth-child(2) {
    padding: 0 0 0 10px;
}
article#alignement_photo div:nth-child(3) {
    padding: 0 0 0 200px;
    align-content: center;
}

.alert {
       background-color: rgba(205, 92, 92, 0.8);
       color : white;
       font-family: Montserrat;
       font-style: italic;
       padding: 0 0 0 10px;
}

.ok {
    background-color: rgba(205, 92, 92, 0.8);
    color : white;
    font-family: Montserrat;
    font-style: italic;
    padding: 0 0 0 10px;
}

.legende_real {
    background-color: rgba(205, 92, 92, 0.8);
    color : white;
    font-family: Montserrat;
    font-style: italic;
    align-items: baseline;
    padding: 0 0 0 10px;
    text-align: center;
}


.footer {
    color: white;
    text-align: center;
}